<section class="container">
    <div class="row">
        <div class="col s12">
            <h5 class="center-align">My team</h5>
        </div>
        <div class="col-s12">
            
            <div class="tbl_header">
                <table>
                    <thead>
                        <tr>
                            <th *ngFor="let header of tableHeaders">{{ header }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let team of teams$ | async">
                            <td>{{ team.name }}</td>
                            <td>{{ team.country }}</td>
                            <td>
                                <p *ngFor="let player of team.players">
                                    {{ player.name }}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>